@import 'devextreme/dist/css/dx.common.css';
@import 'devextreme/dist/css/dx.light.css';

h2 {
  margin-bottom: 20px;
  color: #0a0097 !important;
}
.dx-datagrid {
  width: 100%;
  margin-bottom: 1rem;
}
