<h2 class="dialog-title">Add Bench Candidate</h2>
<form [formGroup]="newBenchCandidateForm" class="custom-form" (ngSubmit)="onSaveClick()">
<div class="form-field">
  <label for="id">Candidate ID*</label>
  <input id="id" type="number" formControlName="id" required>
</div>
<div class="form-field">
  <label for="candidateName">Candidate Name*</label>
  <input id="candidateName" type="text" formControlName="candidateName" required>
</div>
  <div class="form-field">
    <label for="candidateStatus">Status*</label>
    <select id="candidateStatus" formControlName="candidateStatus">
      <option *ngFor="let candidateStatus of data.candidateStatuses" [value]="candidateStatus">
        {{ candidateStatus }}
      </option>
    </select>
  </div>



  <div class="form-field">
    <label for="startDate">Start Date*</label>
    <input id="startDate" type="date" formControlName="startDate" required>
  </div>

  <div class="form-field">
    <label for="endDate">End Date*</label>
    <input id="endDate" type="date" formControlName="endDate" required>
    <div *ngIf="newBenchCandidateForm.hasError('dateError', 'endDate')">
      End date must be greater than start date.
    </div>
  </div>


  <div class="form-field">
    <label for="benchCandidateSkills">Skills*</label>
    <input id="benchCandidateSkills" type="text" formControlName="benchCandidateSkills" required>
  </div>
  <div class="form-field">
    <label for="benchManagerName">Bench Manager Name*</label>
    <select id="benchManagerName" formControlName="benchManagerName">
      <option *ngFor="let benchManagerName of data.benchManagerNames" [value]="benchManagerName">
        {{ benchManagerName }}
      </option>
    </select>
  </div>
  <div class="dialog-actions">
    <button type="button" class="cancel-button" (click)="onCancelClick()">Cancel</button>
    <button type="submit" class="save-button">Save</button>
  </div>
  </form>

