<!-- fulfillment.component.html -->

<span class="head-container">
    <h2>Fulfillments</h2>
    <button mat-button (click)="openAddFulfillmentDialog()" class="add-btn">Add Fulfillments</button>
</span>
<dx-data-grid
    [dataSource]="fulfillments"
    [remoteOperations]="true"
    [width]="'1380px'"
    [height]="600"
    [showBorders]="true"
   (onEditingStart)="onEditingStart($event)"
   >

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing mode="row" [allowUpdating]="true"></dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>


    <dxi-column dataField="fulfillmentId" caption="Fulfillment Id"></dxi-column>
    <dxi-column dataField="fulfillmentDate" caption="Fulfillment Date"></dxi-column>
    <dxi-column dataField="submission.submissionId" caption="Submission Id"></dxi-column>
    <dxi-column dataField="submission.benchCandidate.candidateName" caption="Candidate Name"></dxi-column>
    <dxi-column dataField="submission.requirement.requirementId" caption="Requirement Id"></dxi-column>
    <dxi-column dataField="submission.requirement.account.name" caption="Account Name"></dxi-column>
    <dxi-column dataField="fulfillmentStatus" caption="Fulfillment Status"></dxi-column>
    <!-- <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail> -->
    <!-- <dxo-paging [pageSize]="pageSize" [pageIndex]="currentPageIndex"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="allowedPageSizes"></dxo-pager> -->
</dx-data-grid>


