<!-- requirement.component.html -->
<span class="head-container">
    <h2>Requirements</h2>
    <button mat-button (click)="openAddRequirementDialog()" class="add-btn">Add Requirements</button>
</span>
<dx-data-grid
    [dataSource]="requirements"
    [remoteOperations]="true"
    [width]="'1380px'"
    [height]="600"
    [showBorders]="true"
    (onRowPrepared)="onRowPrepared($event)"
    (onEditingStart)="onEditingStart($event)"
>
    <dxo-filter-row [visible]="true"></dxo-filter-row >
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-editing mode="row"  [allowUpdating]="true" ></dxo-editing>
    <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
    
    <dxi-column dataField="requirementId" caption="Requirement ID" ></dxi-column>
    <dxi-column dataField="startDate" caption="Start Date"></dxi-column>
    <dxi-column dataField="endDate" caption="End Date"></dxi-column>
    <dxi-column dataField="requiredNo" caption="Required No."></dxi-column>
    <dxi-column dataField="jobDescription" caption="Job Description"  [width]="'auto'" ></dxi-column>
    <dxi-column dataField="hiringManager" caption="Hiring Manager"></dxi-column>
    <dxi-column dataField="account.name" caption="Account Name"></dxi-column>
    <!-- <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail> -->
</dx-data-grid>
