.card-container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  // margin-top: 120px;
}

.body {
    // font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
  }
  
  .card {
    max-width: 250px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    text-decoration: none;
    flex-grow: 1;
  
   
    &:hover {
      transform: scale(1.1 );
      // box-shadow: 0 0 10px -5px #33333340;
      background-color: #0a009710;
  }
  
  
    .card-content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      i {
        scale: 1.1;
      }
  
      .card-title {
        font-size: 1.15em;
        // font-weight: bold;
        margin: 0;
        padding: 0;
        text-decoration: none;
        color:#0a0097;
      }
  
      .card-description {
        color: #555;
      }
    }
  }

  
  
  @media screen and (max-width: 600px) {
    .card {
      max-width: 100%;
    }
  }

  .fa{
    height: 30px;
  }
  